.Block{
    
    display: flex;
    margin-left: 1%;
    height: 100vh;
    background-color: cornflowerblue;
}

.button1{
    width: 6rem;
    background-color: rgb(235, 93, 93);
    border-radius: 15px;
    border: 0px ;
    width: 150px;
    height: 40px;
    color: honeydew;
    margin-right: 1rem;
}